---
title: Elways
---


<header class="hero-container">

<div class="hero-img">
	<img src="https://s3.amazonaws.com/elways/taste%26tunes/tastetuneslogo.png" alt="Taste & Tunes" />
</div>
<div class="hero">
	<p class="hero-content">
	Elway's backyard opens 5 pm wednesdays 
	<br />
	Music from 6:30 - 9:30 pm | free admission
	</p>
</div>
<hr class="tnt-hr">
</header>

<div class="main-content">
<div class="gradient"></div>
	<div class="content-container">
		<div class="content">
			{{> contentBlock }}
		</div>
	<div class="gradient-bottom"></div>
	</div>
</div>