body {
	background-color: #d1ddbe;
}

.nav, .navbar {
	background-color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	height: 110px;
	box-shadow: -6px 6px 30px rgba(0, 0, 0, 0.3);
	.nav-content {
		color: #f0553b;
		font-size: 24px;
		letter-spacing: 5px;
		padding-top: 40px;
		display: block;
		font-family: Helvetica, Arial, sans-serif;
		vertical-align: top;
		span {
			font-size: 18px;
			vertical-align: top;
			line-height: 29px;
		}
	}
	sup {
		padding-top: 10px;
	}
}

header.hero-container {
	display: block;
	z-index: 500;
	margin-top: 150px;
	width: 100%;
	.hero-img {
		width: 100%;
		max-width: 80%;
		margin: 0 auto 10px;
		img {
			width: 100%;
		}
	}
	.hero-content {
		color: #f0553b;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		letter-spacing: 2px;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: 200;
		.line-break {
			display: block;
		}
	}
	hr.tnt-hr {
		border: 0;
    	height: 2px;
    	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	}
	hr {
		margin: 20px 0 5px 0;
	}
}

.main-content {
	width: 100%;
	.gradient {
		width: 100%;
		height: 120px;
		margin-top: -10px;
		position: absolute;
		box-shadow: inset -15px 40px 60px 1px #d1ddbe;
	}
	.content-container {
		height: 100%;
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
		background-color: #FFFFFF;
		z-index: 400;
		box-shadow: 0px 50px 40px 5px rgba(0, 0, 0, 0.3);
		.gradient-bottom {
			width: 100%;
			height: 1px;
			margin-top: 50px;
			position: absolute;
			vertical-align: bottom;
			background-color: #d1ddbe;
			box-shadow: -50px 0px 150px 150px #d1ddbe;
		}
	}
	.content {
		width: calc(100% - 40px);
		margin: 10px auto 0;
		height: 100%;
		border-left: 2px solid rgba(0, 0, 0, 0.4);
		border-right: 2px solid rgba(0, 0, 0, 0.4);
		padding-top: 50px;
	}
	.content-block {
		width: 92%;
		margin: 40px auto 100px;
		h1 {
			font-size: 55px;
			text-align: center;
			text-transform: uppercase;
			.bandDate {
				font-family:"futura-pt-condensed", helvetica, arial, sans-serif;
				font-weight: 700;
				color: #a6a4a4;
				margin-right: 15px;
			}
			.bandName {
				font-family: "futura-pt-condensed", helvetica, arial, sans-serif;
				font-weight: 400;
				letter-spacing: 5px;
				color: #444444;
			}
		}
		hr.band-hr {
			border: 0;
    		height: 2px;
    		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.05));
		}
		hr {
			margin: 50px 0 5px 0;
		}
		.soundcloud-widget {
			width: 80%;
			margin: 0 auto;
		}
		.rsvp-button {
			width: 100%;
			max-width: 200px;
			margin: 27px auto -67px;
		}
	}
	.sponsor-block {
		width: 92%;
		margin: 40px auto 100px;
		.sponsor {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			.sponsor-component {
				display: inline-block;
				h4 {
					font-family: helvetica, arial, sans-serif;
					color: #000;
					font-size: 16px;
					letter-spacing: 4px;
					text-transform: uppercase;
					display: inline-block;
					font-weight: 800;
					vertical-align: middle;
					margin-top: 15px;
					margin-right: 30px;
				}
				.sponsor-logo {
					display: inline-block;
					margin: 20px 30px;
					vertical-align: middle;
				}
				img {
					vertical-align: baseline;
					max-width: 180px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.container {
		width: 90%;
	}
}

@media (max-width: 925px) {
	.sponsor-block {
		.sponsor {
			.sponsor-component {
				display: block;
			}
		}
	}
}

@media (max-width: 1000px) {
	.nav, .navbar {
		.nav-content {
			font-size: 18px;
			letter-spacing: 3px;
			span {
				font-size: 14px;
				vertical-align: top;
				line-height: 23px;
			}
		}
	}
}

@media (max-width: 688px) {
	header.hero-container {
		.hero-content {
			.mobile-hidden {
				display: none;
			}
			.mobile-break {
				display: block;
				width: 100%;
			}
		}
	}
}

@media (max-width: 630px) {
	.nav, .navbar {
		.nav-content {
			display: none !important;
		}
	}
	.nav, .navbar {
		.navbar-brand {
			clear: both;
			width: 100%;
			img {
				width: 120px;
				margin: 0 auto 10px;
			}
		}
	}

}

@media (max-width: 600px) {
	.main-content {
		.content {
			border-left: 0;
			border-right: 0;
		}
	}
}

@media (max-width: 480px){
	.main-content {
		margin-top: -10px;
		.content {
			width: 100%;
		}
		.content-block {
			h1 {
				font-size: 50px;
				span {
					display: block;
					text-align: center;
				}
				.bandDate {
					margin-right: 0;
				}
				.bandName {
					font-size: 45px;
				}
			}
		}
		.gradient {
			display:none;
		}
	}
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	header.hero-container {
		box-shadow: inset 0px -70px 85px -40px #FFF;
		.hero-content {
			margin: 0;
			padding: 0 20px;
			font-size: 12px;
		}
	}
	.sponsor-block {
		.sponsor {
			h4 {
				display: block;
				width: 100%;
			}
			.sponsor-logo {
				display: inline-block;
			}
		}
	}
}

