<div class="nav navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="https://s3.amazonaws.com/elways/taste%26tunes/elwayslogo.png"></a>
      <div class="h1">12<sup>th</sup> Annual Summer Music Series</div>
    </div>
  </div>
</div>
